<ion-segment  scrollable (ionChange)="segmentChanged($event)" >

        <ion-segment-button value="adopta" >
        <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_ADOPTA' | translate }}</ion-text></ion-label>
        </ion-segment-button>
      
        <!---<ion-segment-button value="es-tuyo" routerLink="//es-tuyo">
          <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_ESTUYO' | translate }}</ion-text></ion-label>
        </ion-segment-button>-->
      
        <ion-segment-button value="noticias"  >
          <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_NOTICIAS' | translate }}</ion-text></ion-label>
        </ion-segment-button>
      
        <!---<ion-segment-button value="citas">
          <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_CITAS' | translate }}</ion-text></ion-label>
        </ion-segment-button>-->
      
        <ion-segment-button value="tips" >
          <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_TIPS' | translate }}</ion-text></ion-label>
        </ion-segment-button>
      
        <ion-segment-button value="denuncia">
          <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_DENUNCIA' | translate }}</ion-text></ion-label>
        </ion-segment-button>
      
        <ion-segment-button value="contacto" >
          <ion-label><ion-text color="light">{{'PAGES.CONFIGURACIONES.SEGMENTO_CONTACTO' | translate}} </ion-text></ion-label>
        </ion-segment-button>
      
        
      </ion-segment>
      