<ion-segment  scrollable (ionChange)="segmentChanged($event)" >

  <ion-segment-button value="adopta" routerLink="/adopta">
  <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_ADOPTA' | translate }}</ion-text></ion-label>
  </ion-segment-button>

  <ion-segment-button value="es-tuyo" routerLink="/es-tuyo">
    <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_ESTUYO' | translate }}</ion-text></ion-label>
  </ion-segment-button>

  <ion-segment-button value="noticias" routerLink="/noticias">
    <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_NOTICIAS' | translate }}</ion-text></ion-label>
  </ion-segment-button>

  <ion-segment-button value="citas" routerLink="/citas">
    <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_CITAS' | translate }}</ion-text></ion-label>
  </ion-segment-button>

  <ion-segment-button value="tips" routerLink="/tips">
    <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_TIPS' | translate }}</ion-text></ion-label>
  </ion-segment-button>

  <ion-segment-button value="denuncia" routerLink="/denuncia">
    <ion-label><ion-text color="light">{{ 'PAGES.CONFIGURACIONES.SEGMENTO_DENUNCIA' | translate }}</ion-text></ion-label>
  </ion-segment-button>

  <ion-segment-button value="contacto" routerLink="/contacto">
    <ion-label><ion-text color="light">{{'PAGES.CONFIGURACIONES.SEGMENTO_CONTACTO' | translate}} </ion-text></ion-label>
  </ion-segment-button>
  
</ion-segment>