<ion-segment scrollable (ionChange)="segmentChanged($event)">

  <ion-segment-button value="adopta">
    <ion-label>Adopta</ion-label>
  </ion-segment-button>

  <ion-segment-button value="es-tuyo">
    <ion-label>¿Es tuyo?</ion-label>
  </ion-segment-button>

  <ion-segment-button value="noticias">
    <ion-label>Noticias</ion-label>
  </ion-segment-button>

  <ion-segment-button value="citas">
    <ion-label>Citas</ion-label>
  </ion-segment-button>

  <ion-segment-button value="tips">
    <ion-label>Tips</ion-label>
  </ion-segment-button>

  <ion-segment-button value="contacto">
    <ion-label>Contacto</ion-label>
  </ion-segment-button>

</ion-segment>