<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{noticia.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="shadow">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-badge color="primary">{{noticia.fecha}}</ion-badge>
      </ion-card-subtitle>
      <ion-card-title>{{noticia.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-img [src]="noticia.foto"></ion-img>
    <ion-item>
      <ion-card-title>
        <ion-chip color="primary">
          <ion-label>{{noticia.subtitulo}}</ion-label>
        </ion-chip>
      </ion-card-title>
    </ion-item>
    <ion-card-content>
      <h3 class="ion-text-justify">{{noticia.contenido}}</h3>      
    </ion-card-content>
  </ion-card>
</ion-content>