<ion-header class="color1">
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>
            Arca <ion-icon name="paw"></ion-icon>
        </ion-title>
    </ion-toolbar>
    <app-menu-segment checket></app-menu-segment>
    
</ion-header>
<ion-content>
    <ion-card  *ngFor="let a of adoptados" (click)="openDetail(a)">
        <img src="{{a.foto}}" />
          <ion-card-title>
            {{a.nombre}}
          </ion-card-title>    
      </ion-card>
</ion-content>