<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-card>
    <form class="list-form" #f="ngForm">
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Apellidos y Nombres
        </ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="datosPersonales.nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="compass" item-start color="blue"></ion-icon>
          Ciudad
        </ion-label>
        <ion-input type="text" name="ciudad" [(ngModel)]="datosPersonales.ciudad" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="home" item-start color="blue"></ion-icon>
          Dirección
        </ion-label>
        <ion-input type="text" name="direccion" [(ngModel)]="datosPersonales.direccion" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="contacts" item-start color="blue"></ion-icon>
          Estado Civil
        </ion-label>
        <ion-input type="text" name="estadoCivil" [(ngModel)]="datosPersonales.estado" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="mail" item-start color="blue"></ion-icon>
          Correo Electronico
        </ion-label>
        <ion-input type="text" name="correo" [(ngModel)]="datosPersonales.correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="call" item-start color="blue"></ion-icon>
          Telefono
        </ion-label>
        <ion-input type="number" name="telefono" [(ngModel)]="datosPersonales.telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="phone-portrait" item-start color="blue"></ion-icon>
          Celular
        </ion-label>
        <ion-input type="number" name="celular" [(ngModel)]="datosPersonales.celular"></ion-input>
      </ion-item>

      <br>
      <ion-title> Formulario de Adopción</ion-title>
      <br>
      <ion-item>
        <ion-label position="floating">1. ¿Por que deseas adoptar una mascota?</ion-label>
        <ion-input type="text" name="respuesta1" [(ngModel)]="respuestas.respuesta1" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">2. ¿Actualmente tienes otros animales? (Si)(No)</ion-label>
        <ion-input type="text" name="respuesta2" [(ngModel)]="respuestas.respuesta2" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">¿ Cuáles?</ion-label>
        <ion-input type="text" name="respuesta2_1" [(ngModel)]="respuestas.respuesta2_1">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">3. ¿Si los tiene, están esterilizados? (Si)(No)</ion-label>
        <ion-input type="text" name="respuesta3" [(ngModel)]="respuestas.respuesta3">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">¿Por qué?</ion-label>
        <ion-input type="text" name="respuesta3_1" [(ngModel)]="respuestas.respuesta3_1">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">4. ¿Anteriormente ha tenido otros animalitos? (Si)(No)</ion-label>
        <ion-input type="text" name="respuesta4" [(ngModel)]="respuestas.respuesta4" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">¿Cuáles?</ion-label>
        <ion-input type="text" name="respuesta4_1" [(ngModel)]="respuestas.respuesta4_1">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">5. ¿Qué fue lo que paso con él/ellos?</ion-label>
        <ion-input type="text" name="respuesta5" [(ngModel)]="respuestas.respuesta5">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">6. ¿Está de acuerdo en que se haga una visita periódica a su domicilio para ver
          como se encuentra el animal adoptado? (Si)(No)</ion-label>
        <ion-input type="text" name="respuesta6" [(ngModel)]="respuestas.respuesta6" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">¿Por qué?</ion-label>
        <ion-input type="text" name="respuesta6_1" [(ngModel)]="respuestas.respuesta6_1" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">7. ¿Cuantas personas viven en su casa?</ion-label>
        <ion-input type="text" name="respuesta7" [(ngModel)]="respuestas.respuesta7" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">8. ¿Están todos de acuerdo en adoptar? (Si)(No)</ion-label>
        <ion-input type="text" name="respuesta8" [(ngModel)]="respuestas.respuesta8" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">9. ¿Hay niños en casa? (Si)(No)</ion-label>
        <ion-input type="text" name="respuesta9" [(ngModel)]="respuestas.respuesta9" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edades:</ion-label>
        <ion-input type="text" name="respuesta9_1" [(ngModel)]="respuestas.respuesta9_1">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">10. ¿Alguien que viva con ustedes es alérgico a los animales o sufre de asma?
          (Si)(No)</ion-label>
        <ion-input type="text" name="respuesta10" [(ngModel)]="respuestas.respuesta10" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">11. En caso de alquiler, ¿Sus arrendadores permiten animalitos en la casa o
          departamento? (Si)(No)(No se)(Vivo en Casa Propia)</ion-label>
        <ion-input type="text" name="respuesta11" [(ngModel)]="respuestas.respuesta11" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">12. Si por algun motivo tuviera que cambiar de domicilio, ¿Qué pasaría con el
          animalito? (Si)(No)</ion-label>
        <ion-input type="text" name="respuesta12" [(ngModel)]="respuestas.respuesta12" required>
        </ion-input>
      </ion-item>


      <div>
        <ion-button expand="block" (click)="guardar()" [disabled]="f.invalid">
          guardar
        </ion-button>
      </div>




    </form>
  </ion-card>

  <ion-card>

  </ion-card>
</ion-content>