<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center>Inicia Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img class="arca" src="assets/icon/Arca.png" alt="">

  <form class="list-form">
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="mail" item-start class="text-primary"></ion-icon>
        Correo
      </ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="lock" item-start class="text-primary"></ion-icon>
        Contraseña
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </form>
  
  <br>
  <ion-button cl color="danger" expand="block" (click)="onSubmitLogin()">Iniciar</ion-button>
  <ion-button color="danger" expand="block" routerLink="/registro">Regístrate</ion-button>

</ion-content>