<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header >
        <ion-toolbar >
          <ion-title >Arca<ion-icon name="paw"></ion-icon>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item >
                <ion-icon slot="start" [name]="p.person"></ion-icon>
                <ion-label>
                  Perfil+
                </ion-label>
              </ion-item>
            <ion-item >
                <ion-icon slot="start" [name]="p.heart"></ion-icon>
                <ion-label>
                  Adoptados
                </ion-label>
              </ion-item>
                <ion-item >
                    <ion-icon slot="start" [name]="p.paw"></ion-icon>
                    <ion-label>
                      Interesados
                    </ion-label>
                  </ion-item>
                  <ion-item >
                      <ion-icon slot="start" [name]="p.board"></ion-icon>
                      <ion-label>
                        Mis Citas
                      </ion-label>
                    </ion-item>
                    <ion-item >
                        <ion-icon slot="start" [name]="p.informacion"></ion-icon>
                        <ion-label>
                          Acerca de...
                        </ion-label>
                      </ion-item>
                      <ion-item [routerDirection]="'root'" [routerLink]="[p.url1]">
                          <ion-icon slot="start" [name]="p.log"></ion-icon>
                          <ion-label>
                            Cesar sesión
                          </ion-label>
                        </ion-item>
                      <!---<ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                          <ion-icon slot="start" [name]="p.icon"></ion-icon>
                          <ion-label>
                            Ocultar barra
                          </ion-label>
                        </ion-item>-->
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>