<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Descripción</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-img [src]="mascota.foto" (click)="preview(mascota)"></ion-img>
    <ion-badge class="raza" color="primary">Raza: {{mascota.raza}}</ion-badge>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-chip color="primary">
          <ion-label><strong>Edad:</strong> {{mascota.edad}}</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-label><strong>Sexo:</strong> {{mascota.sexo}}</ion-label>
        </ion-chip>
        <ion-chip color="danger" center>
          <ion-label><strong>Talla:</strong> {{mascota.talla}}</ion-label>
        </ion-chip>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h5 class="ion-text-justify">{{mascota.descripcion}}</h5>
      <ion-button class="ion-padding" color="primary" expand="block" color="primary" (click)="adopta()">
        <ion-icon ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
        Adopta
      </ion-button><br><br>
    </ion-card-content>
  </ion-card>
</ion-content>