<ion-header class="color1">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Acerca de...<ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="cards-bg">

  <ion-card *ngFor="let l of logos">
    <ion-card-content>
      <ion-card-title class="ion-text-center">
        Honorable Ayuntamiento de Tehuacán
      </ion-card-title>
      <ion-img class="logo1" [src]="l.logo1"></ion-img>
      <ion-img class="logo2" [src]="l.logo2"></ion-img>
    </ion-card-content>
    <ion-card-content>
      <img class="logo3" src="assets/images/Arca.png" />
      <h6 text-center> Bienestar Animal Mobile</h6>
      <h6 text-center> En su versión 2.0</h6>
    </ion-card-content>


    <ion-card-content>
        <ion-card-title text-center>
          Aviso de privacidad:
        </ion-card-title>
        <p align="justify">Como parte de esta protección, te informamos que los datos personales que nos proporcionas son 
          tratados con absoluta confidencialidad y que contamos con las medidas de seguridad 
          suficientes para garantizar la protección de tus datos personales.</p>
      </ion-card-content>


    <ion-card-content>
      <ion-card-title text-center>
        Producto exclusivo desarrollado por:
      </ion-card-title>
      <img class="logo4" src="assets/images/Yilan2.png" />
      <h6 text-center>"Apresar oportunidades y cautivar objetivos"</h6>
      <br>
      <h6 text-center> Soporte técnico y contacto</h6>
      <h6 text-center> yilan.enterprise@gmail.com</h6>
    </ion-card-content>

  </ion-card>
</ion-content>