
.logo1{    
    width: 50%;
    margin: auto;
    display: block; 
    margin-top: 5%;
}

.logo2{    
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 5%; 
}

.logo3{    
    width: 50%;
    margin: auto;
    display: block; 
}

.logo4{    
    width: 80%;
    margin: auto;
    display: block; 
}


