<ion-card style="width:95%; height:50%;">
    <div id="map" ></div>
  </ion-card>

<ion-content> 
    <ion-card>
     <ion-card-content>
       <ion-card-title text-center class="card12">
         Conoce nuestra ubicación
       </ion-card-title>
       <ion-item>
         <ion-icon name="calendar" color="primary" item-start></ion-icon>
         <h3>Dias de atencion: Lunes a viernes.</h3>
       </ion-item>
       <ion-item>
         <ion-icon name="alarm" color="primary" item-start></ion-icon>
         <h3>Horario: 8:00 a.m a 16:00 p.m </h3>
       </ion-item>
       <ion-item>
         <ion-icon name="call" color="primary" item-start></ion-icon>
         <h3>Numero de Tel: 38 208 79</h3>
       </ion-item>
       <ion-item>
         <ion-icon name="home" color="primary" item-start></ion-icon>
         <h3>Av. López Mateos. </h3>
         <h4>(Entre Sams club y Penal)</h4>
       </ion-item>
     </ion-card-content>
   </ion-card>  
   </ion-content>
  
