<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{tip.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="shadow">
    <ion-img [src]="tip.foto" (click)="preview(tip)"></ion-img>
    <ion-card-header>
      <ion-card-title>
          <ion-badge color="primary">{{tip.titulo}}</ion-badge></ion-card-title>
    </ion-card-header>
    <ion-card-content><h3 class="ion-text-justify">{{tip.contenido}}</h3> </ion-card-content>    
  </ion-card>
</ion-content>