<ion-header class="color4">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Arca <ion-icon name="paw"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <app-menu-segment></app-menu-segment>
</ion-header>

<ion-content class="cards-bg">

  <ion-card>
    <ion-item>
   <ion-title text-center><H1>Esterliza a Tu Mascota</H1></ion-title> 
    </ion-item>
    <img src="assets/images/CD.jpg"/>

    <ion-card-content>
      <ion-card-title>
        <h2> Lo que necesitas saber...</h2> 
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
        
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.

        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
<ion-card-content >
  <ion-button class="button"color="success" routerLink="/agenda">Agenda Tu Cita</ion-button>
</ion-card-content>
  </ion-card>
</ion-content>